#prncipal div, img{
    width: 500px;
    height: 500px;
    float: center;
}

#a{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0px;
    float: center;
}
#b {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0px;
    float: center;
}
#principal p, button {
    float: right;
}
    